{extends file=$conf->root_path|cat:"/templates/user.html"}

{block name=content}
<!-- menu -->
<div class="space-medium">

    <div class="container">
    	{if $orders == NULL}
    		<h1 class="text-center">No history</h1>
    	{/if}
        {foreach $orders as $order}
		{strip}
   		<div class="row mb-4">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	            <div class="box">
	            	<h3 style="float:right;">Date: {$order->date}</h3>
	            	<h1>Order: {$order->orderID}</h1>
	            	<hr>
	            	<h4>Status: {$order->state}</h4>
	            	<hr>
	            	<h4>Delivery: {$order->delivery}</h4>
	            	<hr>
				    <div class="menu-block">
					<div class="row">
			        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			        		<div class="table-responsive">
			        			<table class="table table-striped">
			       					<thead>
			                        	<tr>
			                            	<th>Product</th>
			                            	<th>Size</th>
			                            	<th>Price</th>
			                            </tr>
			                        </thead>
			                        <tbody>
			                         	{foreach $ordersProducts[$order->orderID] as $orderProduct}
										{strip}
			                        	<tr>
			                            	<td>{$orderProduct["name"]}</td>
			                            	<td>{$orderProduct["size"]}</td>
			                            	<td>{$orderProduct["price"]}</td>
			                            </tr>
			                            {/foreach}
			                            {/strip}
			                        </tbody>
			                   </table>
			               </div>
			            </div>
			        </div>	
			        </div>
			        <h2>Sum: ${$order->sum}</h2>
	            </div>
            </div>
        </div>
        {/foreach}
        {/strip}
    </div>

</div>
{/block}
