{extends file=$conf->root_path|cat:"/templates/user.html"}

{block name=content}
<!-- menu -->
<div class="space-medium">
    <div class="container">
    
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="section-title">
                    <h2></h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="section-title">
                    <h2>Order</h2>
                </div>
            </div>
        </div>
        
	</div> 
</div>
{/block}
