{extends file=$conf->root_path|cat:"/templates/main.html"}

{block name=content}
<!-- about -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h2>Welcome To Vegan</h2>
                    <p class="lead">Curabitur dictum, tortor a feugiat digrem nunc facilisis lectus porta ultrices nibh leoquis nisuisque consequat lacus in interdum venenatis justo dolor semperitae rutrum nunc justo elementum justoras interdum acdui at condimentum nullaut leo fermentum placerat diam etornare lacuraesent luctusodio etdictum pharetra.</p>
                </div>
                <div class="about-img"><img src="./images/welcome_img.jpg" alt="" class="img-responsive"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <h3>Vegan History</h3>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="histroy-block">
                    <h3>2017-2015</h3>
                    <p>Vestibulum vestibum nibh exed oneds cursus viverra urnavitae volutpatese risus sagittis sedonec dapibus euvelit et portus pendisse potenti hasellus sedest fermentum.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="histroy-block">
                    <h3>2014-2012</h3>
                    <p>Nulla etdolor porta molestie duinon lobortis metus phasellus necmollis on turpis eu molestie duorbi in interdum setiam ut accumsan justsed congue etiam fermentum lobortis. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="histroy-block">
                    <h3>2011-2008</h3>
                    <p>Curabitur ditortor a feugiat dignissim lorem nunc facilisis lectporta ultrices nibh leoquis uisque consequat lacus in interdum venenatis justor semper diamvitae rutrum nunc justo. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="space-medium bg-light mt80">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="feature-list">
                        <h2 class="mb30">Vegan Provide Best Facilities</h2>
                        <ul class="arrow arrow-right">
                            <li>Free WiFi Internet available</li>
                            <li>Free secure parking</li>
                            <li>Secure yard for bicycles</li>
                            <li>Interiors</li>
                            <li>Centrally air conditioned </li>
                            <li>Seating capacity of 164 persons at the same time</li>
                            <li>Food dishes available – Pure Veg.</li>
                            <li>Punjabi, Chinese, continental, Mexican, Thai, Italian</li>
                            <li>Everywhere, in the restaurant or banquet supply of pure R.O. water is available.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="about-img"><img src="./images/about_img.jpg" alt="" class="img-responsive"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt60">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
                    <div class="section-title">
                        <h2>High-Class Professional Service</h2>
                        <p class="lead">Deugiat digrem nunc facilisis lectus porta ultrices nibh leoquiscus in interdum venenatis justo semperitae rutrum nunc justo elementum justoras.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- service -->
               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                   <div class="service-block">
                       <div class="service-img"><img src="./images/service_1.jpg" alt="" class="img-responsive">
                           <div class="service-head">
                               <h3 class="service-title">Catering</h3>
                           </div>
                       </div>
                       <div class="service-content">
                           <p>Vestibulum vestibulum nibh exsdeed cursus viverra sedrons urnavitae volutpat risus.</p>
                       </div>
                   </div>
               </div>
               <!-- /.service -->
               <!-- service -->
               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                   <div class="service-block">
                       <div class="service-img"><img src="./images/service_2.jpg" alt="" class="img-responsive">
                           <div class="service-head">
                               <h3 class="service-title">Private Dining</h3>
                           </div>
                       </div>
                       <div class="service-content">
                           <p>Integer efficitur dolorne hendrerite feugiuisque neque urna finibusa uconec commoes.</p>
                       </div>
                   </div>
               </div>
               <!-- /.service -->
               <!-- service -->
               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                   <div class="service-block">
                       <div class="service-img"><img src="./images/service_3.jpg" alt="" class="img-responsive">
                           <div class="service-head">
                               <h3 class="service-title">Party</h3>
                           </div>
                       </div>
                       <div class="service-content">
                           <p>Pellentesque semper vulputate pretiumunc lectus enullamcorper in hendrerit sedlaore.</p>
                       </div>
                   </div>
               </div>
               <!-- /.service -->
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <a href="#" class="btn btn-primary btn-lg ">More Services</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space-medium bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h2>Vegan Chefs</h2>
                </div>
            </div>
        </div>
        <!-- Team-section-->
       <div class="row">
           <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
               <div class="team-block">
                   <div class="team-img"><a href="#" class="imghover"><img src="./images/team_img_1.jpg" alt="" class="img-responsive"></a></div>
                   <div class="team-content">
                       <h4 class="team-title">Marie Garza</h4>
                       <span class="team-designation">(Vegan Chef)</span>
                   </div>
               </div>
           </div>
           <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
               <div class="team-block ">
                   <div class="team-img"><a href="#" class="imghover"><img src="./images/team_img_2.jpg" alt="" class="img-responsive"></a>
                   </div>
                   <div class="team-content">
                       <h4 class="team-title">Steve Miller</h4>
                       <span class="team-designation">(Vegan Chef)</span>
                   </div>
               </div>
           </div>
           <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
               <div class="team-block">
                   <div class="team-img"><a href="#" class="imghover"><img src="./images/team_img_3.jpg" alt="" class="img-responsive"></a>
                   </div>
                   <div class="team-content">
                       <h4 class="team-title">Amy Pantoja</h4>
                       <span class="team-designation">(Vegan Chef)</span>
                   </div>
               </div>
           </div>
           <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
               <div class="team-block">
                   <div class="team-img"><a href="#" class="imghover"><img src="./images/team_img_4.jpg" alt="" class="img-responsive"></a>
                   </div>
                   <div class="team-content">
                       <h4 class="team-title">Toby Franklin</h4>
                       <span class="team-designation">(Vegan Chef)</span>
                   </div>
               </div>
           </div>
       </div>
       <!-- /.Team-section-->
    </div>
</div>
<!-- /.about -->
{/block}